<div style="margin-top:100px;" layout="column" ng-cloak ng-controller="NetworkController">
    <div layout="row" layout-margin layout-fill layout-padding>
        <md-button ng-cloak ng-model="project" ui-sref="edit-project({idProject: {{idProject}} })" class="md-raised md-primary" flex translate="DETAILS"></md-button>
        <md-button class="md-raised md-primary" flex translate="QUESTIONS_AND_METRICS"></md-button>
    </div>

    <div layout="row" layout-margin layout-fill layout-padding>
        <md-input-container>
            <label>Objectives</label>
            <md-select ng-model="selectedObjective" ng-change="createNetwork(selectedObjective.id)">
                <md-option ng-repeat="objective in project.objectives" ng-value="{{objective}}" ng-selected="$first">
                    {{objective.name}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>

    <div layout="row" layout-margin layout-fill>
        <md-content style="height: 45em; width: 100%" >
            <button id="reset" class="md-primary reset-btn" ng-click="resetNetwork()"><i class="material-icons">fullscreen_exit</i></button>
            <div id="cy"></div>
        </md-content>
    </div>

    <div layout="column" ng-cloak layout-margin layout-fill layout-padding>
        <md-toolbar class="md-primary _md _md-toolbar-transitions">
            <div class="md-toolbar-tools">
                <h3 class="md-flex" translate="RELATIONS"></h3>
            </div>
        </md-toolbar>

        <md-content flex layout-padding>
            <h4>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne.</h4>
            <h4>Facete delenit argumentum cum at. Pro rebum nostrum contentiones ad. Mel exerci tritani maiorum at, mea te audire phaedrum, mel et nibh aliquam. Malis causae equidem vel eu. Noster melius vis ea, duis alterum oporteat ea sea. Per cu vide munere fierent.</h4>
            <h4>Ad sea dolor accusata consequuntur. Sit facete convenire reprehendunt et. Usu cu nonumy dissentiet, mei choro omnes fuisset ad. Te qui docendi accusam efficiantur, doming noster prodesset eam ei. In vel posse movet, ut convenire referrentur eum, ceteros singulis intellegam eu sit.</h4>
            <h4>Sit saepe quaestio reprimique id, duo no congue nominati, cum id nobis facilisi. No est laoreet dissentias, idque consectetuer eam id. Clita possim assueverit cu his, solum virtute recteque et cum. Vel cu luptatum signiferumque, mel eu brute nostro senserit. Blandit euripidis consequat ex mei, atqui torquatos id cum, meliore luptatum ut usu. Cu zril perpetua gubergren pri. Accusamus rationibus instructior ei pro, eu nullam principes qui, reque justo omnes et quo.</h4>
            <h4>Sint unum eam id. At sit fastidii theophrastus, mutat senserit repudiare et has. Atqui appareat repudiare ad nam, et ius alii incorrupte. Alii nullam libris his ei, meis aeterno at eum. Ne aeque tincidunt duo. In audire malorum mel, tamquam efficiantur has te.</h4>
        </md-content>

    </div>
</div>